body 
{ 
	font-family: Ariel, Helvetica, Sans-Serif;
	/* Text align center required for backwards compatibility with IE6 */
	text-align: center;
	color: #47565B;
	background-color: #F8F8F8;
}

a
{
	color: #3080D2;
	text-decoration: none;
}

a:hover
{
	color: #000000 !important;
}

/************************************** header **************************************/

.header
{
	text-align: center;
	position: fixed;
	top: 0px;
	left: 0px;
	margin: 0em;
	width: 100%;
	background-color: #888888;
}

.header_links li
{
	display: inline;
	margin: 4%;
}

.header_links a
{
	font-size: 1.5em;
	color: #FFFFFF;
	text-decoration: none;
}

/*************************************** body ***************************************/

.body
{
	width: 75%;
	margin: auto auto;
	padding: 2%;
	text-align: justify;
	background-color: #FFFFFF;
}

.name_logo
{
	font-size: 2em;
	text-align: center;
	margin: auto auto 1em auto;
}

#name_logo_title
{
	font-size: 0.7em;
	color: #888888;
}

