body 
{ 
	font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
	/* Text align center required for backwards compatibility with IE6 */
	text-align: center;
	color: #000000;
	background-color: #FFFFFF;
}

a
{
	color: #3080D2;
	text-decoration: none;
}

a:hover
{
	color: #000000;
}

/************************************** header **************************************/

.header
{
	text-align: center;
	position: fixed;
	top: 0px;
	left: 0px;
	margin: 0em;
	width: 100%;
	background-color: #333333;
}

.header_links li
{
	display: inline;
	margin: 4%;
}

.header_links a
{
	font-size: 0.875em;
	color: #FFFFFF;
	text-decoration: none;
}

.header_links a:hover
{
	color: #CCCCCC;
}

/*************************************** body ***************************************/

.body
{
	width: 75%;
	margin: 2em auto 0 auto;
	padding: 2%;
	text-align: justify;
}

.name_logo
{
	font-size: 2em;
	font-weight: 600;
	text-align: center;
	margin: auto auto 1em auto;
}

#name_logo_title
{
	font-size: 0.7em;
	font-weight: 200;
	color: #000000;
}

