/* Header sections of all independant experience sections */

.experience_header 
{
    text-align: center;
	font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
	position: fixed;
	display: block;
    height: 2.8rem;
    width: 80%;
    margin: 1rem 0rem;;
}

.experience_header_left
{
    display: table;
    float: left;
    height: 100%;
}

.experience_header_right
{
    display: table;
    float: right;
    height: 100%;
}

.experience_header_logo
{
    display: table-cell;
    float: left;
    height: 2.8rem;
    width: auto;
    vertical-align: bottom;
    margin: 0rem 0.6rem 0rem 0rem;
}

.experience_header_title
{
    display: table-cell;
    height: 100%;
    font-size: 2rem;
    font-weight: 600;
    margin: 0rem;
    vertical-align: bottom;
}

.experience_header_time
{
    display: table-cell;
    vertical-align: bottom;
    font-size: 1rem;
    font-weight: 400;
    height: 100%;
    margin: 0rem;
}

.experience_section_summary
{
    display: inline-block;
    text-align: left;
    font-size: 1.1rem;
    padding: 0rem;
    margin: 1rem 0rem;
}

.side_picture
{
    float: right;
    height: auto;
    width: 42rem;
    margin: 2rem;
}


