.home {
    background-color: white;
    font-size: 1rem;
    display: flex;
    margin: auto;
    height: 100%;
    align-items: center;
    flex-direction: column;
}

.home > * {
    margin: 0rem;
}

.home img {
    height: auto;
    width: 16rem;
    margin-top: 18vh;
}

.home h1 {
    font-size: 2rem;
    font-weight: 600;
}

.home h2 {
    font-size: 1.6rem;
    font-weight: 200;
}

.home p {
    margin-top: 2rem;
    text-align: center;
}

.education {
    display: flex;
    margin: 12vh 0 0vh 0;
    width: 90%;
    align-items: center;
    justify-content: space-between;
}

.education div {
    margin: 1rem 0rem;
}

.education h1 {
    margin: 0rem;
    font-size: 1em;
    font-weight: 400;
}

.education img {
    margin: 0;
    width: 250px;
    height: auto;
    padding-bottom: 1rem;
}

.education h1 a {
    font-weight: bold;
    text-decoration: none;
}

.education h2 {
    color: #606060;
    font-size: 1em;
    font-weight: 300;
}

@media (max-width: 600px) {
    .home img {
        margin: 0rem;
    }

    .education {
        margin-top: 4rem;
        flex-direction: column-reverse;
    }
}

@media (max-width: 900px) {
    .education > div {
        width: 250px;
    }
}