.body {
    width: 90%;
    height: 100vh;
    margin: 0rem auto;
}

.scrollbody {
    margin-top: 2.8rem;
    background-color: white;
    height: 100vh;
}

@media (min-width: 780px) {
    .body {
        width: 80%;
    }
}