.header {
    background-color: rgba(0, 0, 0, 0.92);
    position: fixed;
    width: 100%;
    height: 2.8rem;
    top: 0px;
    left: 0px;
}

.innerheader {
    height: 100%;
    width: 80%;
    gap: 2rem;
    display: flex;
    margin: auto;
}

.innerheader nav {
    height: 100%;
    display: flex;
    gap: 2rem;
    align-items: center;
}

.innerheader nav button {
    background-color: rgba(0, 0, 0, 0);
    transition: 0.4s;
    color: white;
    border: 0px;
    font-size: 0.8rem;
}

.innerheader nav button:hover {
    color: #CCCCCC;
    cursor: pointer;
}

.innerheader nav img {
    height: 2rem;
    width: auto;
}

.innerheader .socials {
    margin-left: auto;
}

.innerheader .socials img {
    height: 1rem;
    width: auto;
}

.innerheader nav img:hover {
    cursor: pointer;
}