#main_body
{
	width: 80%;
	margin: 2.8rem auto 0 auto;
	padding: 2%;
	text-align: justify;
}

#name_logo
{
	font-size: 2rem;
	font-weight: 600;
	text-align: center;
	margin: 4% auto 6% auto;
}

#name_logo_name
{
	margin: 0rem;
}

#name_logo_title
{
	margin: 0rem;
	font-size: 1.6rem;
	font-weight: 200;
	color: #000000;
}

#name_logo_bird
{
	height: auto;
	width: 16rem;
}

#description
{
	font-size: 1.2rem;
}
